/* Define Nord Palette */
/* Polar Night */
@define-color nord0 #2e3440;
@define-color nord1 #3b4252;
@define-color nord2 #434c5e;
@define-color nord3 #4c566a;
 
/* Snow Storm */
@define-color nord4 #d8dee9;
@define-color nord5 #e5e9f0;
@define-color nord6 #eceff4;
 
/* Frost */
@define-color nord7  #8fbcbb;
@define-color nord8  #88c0d0;
@define-color nord9  #81a1c1;
@define-color nord10 #5e81ac;
 
/* Aurora */
@define-color nord11 #bf616a; /* Red */
@define-color nord12 #d08770; /* Orange */
@define-color nord13 #ebcb8b; /* Yellow */
@define-color nord14 #a3be8c; /* Green */
@define-color nord15 #b48ead; /* Magenta */
 
/* Extra */
@define-color nord16 #1d2128; /* a darker nord0 */

window > scrolledwindow {
  background-color: alpha(@nord0, 0.9);
}

#bar {
    margin: 0 0px /* affects top/bottom & left/right alignment */
}

image {
    background: none;
    border-style: none;
    box-shadow: none;
    color: @nord6;
    text-shadow: none;
}

button {
    background: none;
    border-style: none;
    border-radius: 10 10 10 10px;
    box-shadow: none;
    color: @nord6; /*button text and hover if hover not defined*/
    text-shadow: none;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    -gtk-icon-shadow: none; /*has to be a color*/
}

button:hover {
    background-color: alpha(@nord2, 0.6)
}

button:focus {
    background-color: alpha(@nord2, 0.6);
    box-shadow: 0 0 0 0px; /*right bottom blur border*/
    outline: none;
}

grid {
    /* e.g. for common background to all buttons */
    background: alpha(@nord0, 0.9);
    border: 1.5px solid @nord7;
    border-radius: 15 15 15 15px;
}
