@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Variables that start with --gnome- are added by me and are assigned
 * to elements somewhere in this code. The rest of the variables are
 * built-in in Firefox, so you need to add an !important if you wanna
 * override them. */
@media (prefers-color-scheme: dark) {
	:root {
		/* Accent */
		--gnome-accent-bg: #907aa9; /*Rosé-Pine-Dawn GTK calls this accent_bg_color*/
		--gnome-accent: #907aa9;

		--gnome-toolbar-star-button: #907aa9;

		/* Window */
		--gnome-window-background: #faf4ed; /*Rosé-Pine-Dawn GTK calls this window_bg_color*/
		--gnome-window-color: #575279; /*Rosé-Pine-Dawn GTK calls this window_fg_color*/
		--gnome-view-background: #f2e9e1; /*Rosé-Pine-Dawn GTK calls this view_bg_color*/

		/* Card */
		--gnome-card-background: #fffaf3;
		--gnome-card-shade-color: color-mix(in srgb, black 36%, transparent);

		/* Menu */
		--gnome-menu-background: #f2e9e1;

		/* Header bar */
		--gnome-headerbar-background: #faf4ed;
		--gnome-headerbar-shade-color: color-mix(in srgb, black 36%, transparent);

		/* Toolbars */
		--gnome-toolbar-icon-fill: #575279;

		/* Tabs */
		--gnome-tabbar-tab-hover-background: #eee9e4; /* Hardcoded color */
		--gnome-tabbar-tab-active-background: #eae4e2; /* Hardcoded color */
		--gnome-tabbar-tab-active-background-contrast: #eae4e2; /* Hardcoded color */
		--gnome-tabbar-tab-active-hover-background: #eae4e2; /* Hardcoded color */
		
		--gnome-tabbar-identity-color-green: var(--gnome-palette-green-1);
		--gnome-tabbar-identity-color-yellow: var(--gnome-palette-yellow-2);
		--gnome-tabbar-identity-color-orange: var(--gnome-palette-orange-3);
		--gnome-tabbar-identity-color-red: var(--gnome-palette-red-1);
		--gnome-tabbar-identity-color-purple: var(--gnome-palette-purple-1);
		
		/* Text color for Firefox Logo in new private tab */
		--gnome-private-wordmark: #20123A;
		/* New private tab background */
		--gnome-private-in-content-page-background: #FAFAFA;
		/* Private browsing info box */
		--gnome-private-text-primary-color: #15141A;
	}

	/* Backdrop colors */
	:root:-moz-window-inactive {
		--gnome-tabbar-tab-hover-background: #eee9e4; /* Hardcoded color */
		--gnome-tabbar-tab-active-background: #eae4e2; /* Hardcoded color */
	}

	/* Private colors */
	:root[privatebrowsingmode="temporary"] {
		--gnome-accent-fg: var(--gnome-palette-blue-4);
		/* Headerbar */
		--gnome-headerbar-background: #D7E3F0 !important;
		/* Tabs */
		--gnome-tabbar-tab-hover-background: #cbd7e3; /* Hardcoded color */
		--gnome-tabbar-tab-active-background: #c6d1dd; /* Hardcoded color */
		--gnome-tabbar-tab-active-background-contrast: #a9b6c4; /* Hardcoded color */
		--gnome-tabbar-tab-active-hover-background: #c0cbd7; /* Hardcoded color */
	}

	/* Private and backdrop colors */
	:root[privatebrowsingmode="temporary"]:-moz-window-inactive {
		--gnome-headerbar-background: #D7E3F0 !important;
		--gnome-tabbar-tab-hover-background: #e4e9f0; /* Hardcoded color */
		--gnome-tabbar-tab-active-background: #e1e7ed; /* Hardcoded color */
	}
}
