@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Variables that start with --gnome- are added by me and are assigned
 * to elements somewhere in this code. The rest of the variables are
 * built-in in Firefox, so you need to add an !important if you wanna
 * override them. */
@media (prefers-color-scheme: dark) {
	:root {
		/* Accent */
		--gnome-accent-bg: #c4a7e7; /*Rose패-Pine GTK calls this accent_bg_color*/
		--gnome-accent: #c4a7e7;

		--gnome-toolbar-star-button: #c4a7e7;

		/* Window */
		--gnome-window-background: #191724; /*Rose패-Pine GTK calls this window_bg_color*/
		--gnome-window-color: #e0def4; /*Rose패-Pine-Dawn GTK calls this window_fg_color*/
		--gnome-view-background: #26233a; /*Rose패-Pine-Dawn GTK calls this view_bg_color*/

		/* Card */
		--gnome-card-background: #1f1d2e;
		--gnome-card-shade-color: color-mix(in srgb, black 36%, transparent);

		/* Menu */
		--gnome-menu-background: #26233a;

		/* Header bar */
		--gnome-headerbar-background: #191724;
		--gnome-headerbar-shade-color: color-mix(in srgb, black 36%, transparent);

		/* Toolbars */
		--gnome-toolbar-icon-fill: #e0def4;

		/* Tabs */
		--gnome-tabbar-tab-hover-background: #272532; /* Hardcoded color */
		--gnome-tabbar-tab-active-background: #2D2B38; /* Hardcoded color */
		--gnome-tabbar-tab-active-background-contrast: #2D2B38; /* Hardcoded color */
		--gnome-tabbar-tab-active-hover-background: #2D2B38; /* Hardcoded color */
		
		--gnome-tabbar-identity-color-green: var(--gnome-palette-green-1);
		--gnome-tabbar-identity-color-yellow: var(--gnome-palette-yellow-2);
		--gnome-tabbar-identity-color-orange: var(--gnome-palette-orange-3);
		--gnome-tabbar-identity-color-red: var(--gnome-palette-red-1);
		--gnome-tabbar-identity-color-purple: var(--gnome-palette-purple-1);
		
		/* Text color for Firefox Logo in new private tab */
		--gnome-private-wordmark: #FBFBFE;
		/* New private tab background */
		--gnome-private-in-content-page-background: #242424;
		/* Private browsing info box */
		--gnome-private-text-primary-color: #FBFBFE;
	}

	/* Backdrop colors */
	:root:-moz-window-inactive {
		--gnome-tabbar-tab-hover-background: #272532; /* Hardcoded color */
		--gnome-tabbar-tab-active-background: #2D2B38; /* Hardcoded color */
	}

	/* Private colors */
	:root[privatebrowsingmode="temporary"] {
		--gnome-accent-fg: #78aeed;
		/* Headerbar */
		--gnome-headerbar-background: #252F49 !important;
		/* Tabs */
		--gnome-tabbar-tab-hover-background: #343e56; /* Hardcoded color */
		--gnome-tabbar-tab-active-background: #343e56; /* Hardcoded color */
		--gnome-tabbar-tab-active-background-contrast: #495675; /* Hardcoded color */
		--gnome-tabbar-tab-active-hover-background: #414a61; /* Hardcoded color */
	}

	/* Private and backdrop colors */
	:root[privatebrowsingmode="temporary"]:-moz-window-inactive {
		--gnome-headerbar-background: #252F49 !important;
		--gnome-tabbar-tab-hover-background: #242c3f; /* Hardcoded color */
		--gnome-tabbar-tab-active-background: #272e41; /* Hardcoded color */
	}
}
