@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Variables that start with --gnome- are added by me and are assigned
 * to elements somewhere in this code. The rest of the variables are
 * built-in in Firefox, so you need to add an !important if you wanna
 * override them. */

:root {
	/* Pallete */
	--gnome-palette-red-1: #FF9262;
	--gnome-palette-red-2: #FF793E;
	--gnome-palette-red-3: #F15D22;
	--gnome-palette-red-4: #CF3B00;
	--gnome-palette-red-5: #AC1800;
	--gnome-palette-orange-1: #FFDB91;
	--gnome-palette-orange-2: #FFCA40;
	--gnome-palette-orange-3: #FAA41A;
	--gnome-palette-orange-4: #DE8800;
	--gnome-palette-orange-5: #C26C00;
	--gnome-palette-yellow-1: #FFFFA8; /*Banana*/
	--gnome-palette-yellow-2: #FFFA7D;
	--gnome-palette-yellow-3: #FFCE51;
	--gnome-palette-yellow-4: #D1A023;
	--gnome-palette-yellow-5: #A27100;
	--gnome-palette-green-1: #A2F3BE; /*Lime*/
	--gnome-palette-green-2: #8ADBA6;
	--gnome-palette-green-3: #73C48F;
	--gnome-palette-green-4: #479863;
	--gnome-palette-green-5: #1C6D38;
	--gnome-palette-blue-1: #94A6FF;
	--gnome-palette-blue-2: #6A7CE0;
	--gnome-palette-blue-3: #3F51B5;
	--gnome-palette-blue-4: #213397;
	--gnome-palette-blue-5: #031579;
	--gnome-palette-purple-1: #D25DE6;
	--gnome-palette-purple-2: #B84ACB;
	--gnome-palette-purple-3: #9C27B0;
	--gnome-palette-purple-4: #830E97;
	--gnome-palette-purple-5: #6A007E;
	--gnome-palette-brown-1: #9F9792;
	--gnome-palette-brown-2: #7B736E;
	--gnome-palette-brown-3: #574F4A;
	--gnome-palette-brown-4: #463E39;
	--gnome-palette-brown-5: #342C27;
	--gnome-palette-light-1: #EEE; /*Silver*/
	--gnome-palette-light-2: #CCC;
	--gnome-palette-light-3: #AAA;
	--gnome-palette-light-4: #888;
	--gnome-palette-light-5: #666;
	--gnome-palette-dark-1: #474341; /*Black*/
	--gnome-palette-dark-2: #403C3A;
	--gnome-palette-dark-3: #393634;
	--gnome-palette-dark-4: #33302F;
	--gnome-palette-dark-5: #2B2928;
	
	/* Accent */
	--gnome-accent-bg: #4a555b; /*Everforest Light BL calls this theme_selected_bg_color*/
	--gnome-accent: #4a555b;

	--gnome-selection-bg: color-mix(in srgb, var(--gnome-accent-bg) 30%, transparent);
	--gnome-toolbar-star-button: #4a555b;
	
	/* Window */
	--gnome-window-background: #fff9e8; /*Everforest Light BL calls this theme_bg_color*/
	--gnome-window-color: rgba(0, 0, 0, 0.87); /*Everforest Light BL calls this theme_fg_color*/
	--gnome-view-background: #fff9e8; /*Everforest Light BL calls this theme_base_color*/
	--gnome-view-color: var(--gnome-window-color); /*Everforest Light BL calls this theme_text_color*/
	--gnome-view-selected-background: color-mix(in srgb, var(--gnome-accent-bg) 25%, transparent);
	--gnome-view-selected-hover-background: color-mix(in srgb, var(--gnome-accent-bg) 32%, transparent);
	--gnome-view-selected-active-background: color-mix(in srgb, var(--gnome-accent-bg) 39%, transparent);
	
	/* Card */
	--gnome-card-background: #fff9e8;
	--gnome-card-shade-color: color-mix(in srgb, black 7%, transparent);
	
	/* Menu */
	--gnome-menu-background: #fff9e8;
	--gnome-menu-color: var(--gnome-window-color);
	--gnome-menu-border-color: rgba(0, 0, 0, .04);
	--gnome-menu-shadow: 0 1px 5px 1px rgba(0,0,0, .09), 0 2px 14px 3px rgba(0,0,0, .05);
	--gnome-menu-button-hover-background: var(--gnome-button-background);
	--gnome-menu-separator-color: var(--gnome-border-color);
	
	/* Header bar */
	--gnome-headerbar-background: #374247;
	--gnome-headerbar-shade-color: rgba(0, 0, 0, 0.07);

	/* Toolbars */
	--gnome-toolbar-background: var(--gnome-headerbar-background);
	--gnome-toolbar-color: var(--gnome-window-color);
	--gnome-toolbar-border-color: var(--gnome-headerbar-shade-color);
	--gnome-toolbar-icon-fill: #fff9e8;
	
	/* Elements */
	--gnome-border-color: color-mix(in srgb, currentColor 15%, transparent);
	--gnome-hover-color: color-mix(in srgb, currentColor 7%, transparent);
	--gnome-active-color: color-mix(in srgb, currentColor 16%, transparent);
	--gnome-selected-color: color-mix(in srgb, currentColor 10%, transparent);
	--gnome-selected-hover-color: color-mix(in srgb, currentColor 13%, transparent);
	--gnome-selected-active-color: color-mix(in srgb, currentColor 19%, transparent);
	--gnome-trough-background: color-mix(in srgb, currentColor 15%, transparent);
	--gnome-trough-hover-background: color-mix(in srgb, currentColor 20%, transparent);
	--gnome-trough-active-background: color-mix(in srgb, currentColor 25%, transparent);

	/* Buttons */
	--gnome-button-background: color-mix(in srgb, currentColor 10%, transparent);
	--gnome-button-hover-background: color-mix(in srgb, currentColor 15%, transparent);
	--gnome-button-active-background: color-mix(in srgb, currentColor 30%, transparent);
	--gnome-button-suggested-action-background: var(--gnome-accent-bg);
	--gnome-button-destructive-action-background: #D93025;

	/* Entries */
	--gnome-entry-background: var(--gnome-button-background);
	--gnome-entry-color: var(--gnome-view-color);
	--gnome-focused-urlbar-border-color: color-mix(in srgb, var(--gnome-accent) 50%, transparent);

	/* Tabs */
	--gnome-tabbar-background: var(--gnome-headerbar-background); /*none; /*.frameheader.header tabbar.inline > revealer > box tabbox { background-color; }*/
	--gnome-tabbar-tab-separator-color: var(--gnome-border-color);
	--gnome-tabbar-tab-hover-background: #3F494D; /* Hardcoded color */ 
	--gnome-tabbar-tab-active-background: #4F585A; /*rgba(255, 249, 232, 0.12); /*.nautilus-window tabbar scrolledwindow:not(.pinned) > tabbox tab:selected { background-color; }*/
	--gnome-tabbar-tab-active-background-contrast: #4F585A; /*rgba(255, 249, 232, 0.12); /*.nautilus-window tabbar scrolledwindow:not(.pinned) > tabbox tab:selected { background-color; }*/
	--gnome-tabbar-tab-active-hover-background: #4F585A /*rgba(255, 249, 232, 0.12); /*.nautilus-window tabbar scrolledwindow:not(.pinned) > tabbox tab:selected { background-color; }*/
	--gnome-tabbar-tab-needs-attetion: var(--gnome-accent);
	
	--gnome-tabbar-identity-color-blue: var(--gnome-accent);
	--gnome-tabbar-identity-color-turquoise: #35a77c;
	--gnome-tabbar-identity-color-green: var(--gnome-palette-green-5);
	--gnome-tabbar-identity-color-yellow: #dfa000;
	--gnome-tabbar-identity-color-orange: var(--gnome-palette-orange-4);
	--gnome-tabbar-identity-color-red: var(--gnome-palette-red-3);
	--gnome-tabbar-identity-color-pink: #df69ba;
	--gnome-tabbar-identity-color-purple: var(--gnome-palette-purple-4);
		
	/* Text color for Firefox Logo in new private tab */
	--gnome-private-wordmark: #20123A;
	/* New private tab background */
	--gnome-private-in-content-page-background: #FAFAFA;
	/* Private browsing info box */
	--gnome-private-text-primary-color: #15141A;
}

/* Backdrop colors */
:root:-moz-window-inactive {
	--gnome-headerbar-background: var(--gnome-window-background);
	--gnome-tabbar-tab-hover-background: #3F494D; /* Hardcoded color */ 
	--gnome-tabbar-tab-active-background: #4F585A /*rgba(255, 249, 232, 0.12); /*.nautilus-window tabbar scrolledwindow:not(.pinned) > tabbox tab:selected { background-color; }*/
}

/* Private colors */
:root[privatebrowsingmode="temporary"] {
	--gnome-accent-fg: var(--gnome-palette-blue-4);
	/* Headerbar */
	--gnome-headerbar-background: #D7E3F0 !important;
	/* Tabs */
	--gnome-tabbar-tab-hover-background: #cbd7e3; /* Hardcoded color */
	--gnome-tabbar-tab-active-background: #c6d1dd; /* Hardcoded color */
	--gnome-tabbar-tab-active-background-contrast: #a9b6c4; /* Hardcoded color */
	--gnome-tabbar-tab-active-hover-background: #c0cbd7; /* Hardcoded color */
}

/* Private and backdrop colors */
:root[privatebrowsingmode="temporary"]:-moz-window-inactive {
	--gnome-headerbar-background: #D7E3F0 !important;
	--gnome-tabbar-tab-hover-background: #e4e9f0; /* Hardcoded color */
	--gnome-tabbar-tab-active-background: #e1e7ed; /* Hardcoded color */
}
