@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Variables that start with --gnome- are added by me and are assigned
 * to elements somewhere in this code. The rest of the variables are
 * built-in in Firefox, so you need to add an !important if you wanna
 * override them. */

:root {
	/* Pallete */
	--gnome-palette-red-1: #ff8c82;
	--gnome-palette-red-2: #ed5353;
	--gnome-palette-red-3: #c6262e;
	--gnome-palette-red-4: #a10705;
	--gnome-palette-red-5: #7a0000;
	--gnome-palette-orange-1: #ffc27d;
	--gnome-palette-orange-2: #ffa154;
	--gnome-palette-orange-3: #f37329;
	--gnome-palette-orange-4: #cc3b02;
	--gnome-palette-orange-5: #a62100;
	--gnome-palette-yellow-1: #fff394; /*Banana*/
	--gnome-palette-yellow-2: #ffe16b;
	--gnome-palette-yellow-3: #f9c440;
	--gnome-palette-yellow-4: #d48e15;
	--gnome-palette-yellow-5: #ad5f00;
	--gnome-palette-green-1: #d1ff82; /*Lime*/
	--gnome-palette-green-2: #9bdb4d;
	--gnome-palette-green-3: #68b723;
	--gnome-palette-green-4: #3a9104;
	--gnome-palette-green-5: #206b00;
	--gnome-palette-blue-1: #8cd5ff;
	--gnome-palette-blue-2: #64baff;
	--gnome-palette-blue-3: #3689e6;
	--gnome-palette-blue-4: #0d52bf;
	--gnome-palette-blue-5: #002e99;
	--gnome-palette-purple-1: #e4c6fa;
	--gnome-palette-purple-2: #cd9ef7;
	--gnome-palette-purple-3: #a56de2;
	--gnome-palette-purple-4: #7239b3;
	--gnome-palette-purple-5: #452981;
	--gnome-palette-brown-1: #a3907c;
	--gnome-palette-brown-2: #8a715e;
	--gnome-palette-brown-3: #715344;
	--gnome-palette-brown-4: #57392d;
	--gnome-palette-brown-5: #3d211b;
	--gnome-palette-light-1: #fafafa; /*Silver*/
	--gnome-palette-light-2: #d4d4d4;
	--gnome-palette-light-3: #abacae;
	--gnome-palette-light-4: #7e8087;
	--gnome-palette-light-5: #555761;
	--gnome-palette-dark-1: #666; /*Black*/
	--gnome-palette-dark-2: #4d4d4d;
	--gnome-palette-dark-3: #333;
	--gnome-palette-dark-4: #1a1a1a;
	--gnome-palette-dark-5: #000;
	
	/* Accent */
	--gnome-accent-bg: #81a1c1; /*Nordic-Polar calls this theme_selected_bg_color*/
	--gnome-accent: #81a1c1;

	--gnome-selection-bg: color-mix(in srgb, var(--gnome-accent-bg) 30%, transparent);
	--gnome-toolbar-star-button: #81a1c1;
	
	/* Window */
	--gnome-window-background: #d8dee9; /*Nordic-Polar calls this theme_bg_color*/
	--gnome-window-color: #3b4252; /*Nordic-Polar calls this theme_fg_color*/
	--gnome-view-background: #e5e9f0; /*Nordic-Polar calls this theme_base_color*/
	--gnome-view-color: var(--gnome-window-color); /*Nordic-Polar calls this theme_text_color*/
	--gnome-view-selected-background: color-mix(in srgb, var(--gnome-accent-bg) 25%, transparent);
	--gnome-view-selected-hover-background: color-mix(in srgb, var(--gnome-accent-bg) 32%, transparent);
	--gnome-view-selected-active-background: color-mix(in srgb, var(--gnome-accent-bg) 39%, transparent);
	--gnome-sidebar-background: #e5e9f0;
	--gnome-secondary-sidebar-background: #ccd3e0;
	
	/* Card */
	--gnome-card-background: #e5e9f0;
	--gnome-card-shade-color: color-mix(in srgb, black 7%, transparent);
	
	/* Menu */
	--gnome-menu-background: #e5e9f0;
	--gnome-menu-color: var(--gnome-window-color);
	--gnome-menu-border-color: rgba(0, 0, 0, .04);
	--gnome-menu-shadow: 0 1px 5px 1px rgba(0,0,0, .09), 0 2px 14px 3px rgba(0,0,0, .05);
	--gnome-menu-button-hover-background: var(--gnome-button-background);
	--gnome-menu-separator-color: var(--gnome-border-color);
	
	/* Header bar */
	--gnome-headerbar-background: #2b313c;
	--gnome-headerbar-shade-color: rgba(0, 0, 0, 0.12);

	/* Toolbars */
	--gnome-toolbar-background: var(--gnome-headerbar-background);
	--gnome-toolbar-border-color: var(--gnome-headerbar-shade-color);
	--gnome-toolbar-icon-fill: #d8dee9;
	
	/* Elements */
	--gnome-border-color: color-mix(in srgb, currentColor 15%, transparent);
	--gnome-hover-color: color-mix(in srgb, currentColor 7%, transparent);
	--gnome-active-color: color-mix(in srgb, currentColor 16%, transparent);
	--gnome-selected-color: color-mix(in srgb, currentColor 10%, transparent);
	--gnome-selected-hover-color: color-mix(in srgb, currentColor 13%, transparent);
	--gnome-selected-active-color: color-mix(in srgb, currentColor 19%, transparent);
	--gnome-trough-background: color-mix(in srgb, currentColor 15%, transparent);
	--gnome-trough-hover-background: color-mix(in srgb, currentColor 20%, transparent);
	--gnome-trough-active-background: color-mix(in srgb, currentColor 25%, transparent);

	/* Buttons */
	--gnome-button-background: color-mix(in srgb, currentColor 10%, transparent);
	--gnome-button-hover-background: color-mix(in srgb, currentColor 15%, transparent);
	--gnome-button-active-background: color-mix(in srgb, currentColor 30%, transparent);
	--gnome-button-suggested-action-background: var(--gnome-accent-bg);
	--gnome-button-destructive-action-background: #b84f59;

	/* Entries */
	--gnome-entry-background: var(--gnome-button-background);
	--gnome-entry-color: var(--gnome-view-color);
	--gnome-focused-urlbar-border-color: color-mix(in srgb, var(--gnome-accent) 50%, transparent);

	/* Tabs */
	--gnome-tabbar-background: var(--gnome-headerbar-background); /*#d5dbe7; /*tabbar tabbox { background-color; }*/
	--gnome-tabbar-tab-separator-color: var(--gnome-border-color);
	--gnome-tabbar-tab-hover-background: #ccd3e0; /* Hardcoded color */ 
	--gnome-tabbar-tab-active-background: #e5e9f0; /*tabbar tabbox > tabboxchild > tab:selected { background-color; }*/
	--gnome-tabbar-tab-active-background-contrast: #e5e9f0; /*tabbar tabbox > tabboxchild > tab:selected { background-color; }*/
	--gnome-tabbar-tab-active-hover-background: #e5e9f0; /*tabbar tabbox > tabboxchild > tab:selected { background-color; }*/
	--gnome-tabbar-tab-needs-attetion: var(--gnome-accent);
	
	--gnome-tabbar-identity-color-blue: var(--gnome-accent);
	--gnome-tabbar-identity-color-turquoise: #8fbcbb;
	--gnome-tabbar-identity-color-green: var(--gnome-palette-green-5);
	--gnome-tabbar-identity-color-yellow: #ebcb8b;
	--gnome-tabbar-identity-color-orange: var(--gnome-palette-orange-4);
	--gnome-tabbar-identity-color-red: var(--gnome-palette-red-3);
	--gnome-tabbar-identity-color-pink: #b48ead;
	--gnome-tabbar-identity-color-purple: var(--gnome-palette-purple-4);
		
	/* Text color for Firefox Logo in new private tab */
	--gnome-private-wordmark: #20123A;
	/* New private tab background */
	--gnome-private-in-content-page-background: #FAFAFA;
	/* Private browsing info box */
	--gnome-private-text-primary-color: #15141A;
}

/* Backdrop colors */
:root:-moz-window-inactive {
	--gnome-headerbar-background: var(--gnome-window-background);
	--gnome-tabbar-tab-hover-background: #ccd3e0; /* Hardcoded color */ 
	--gnome-tabbar-tab-active-background: #e5e9f0; /*tabbar tabbox > tabboxchild > tab:selected { background-color; }*/
}

/* Private colors */
:root[privatebrowsingmode="temporary"] {
	--gnome-accent-fg: var(--gnome-palette-blue-4);
	/* Headerbar */
	--gnome-headerbar-background: #D7E3F0 !important;
	/* Tabs */
	--gnome-tabbar-tab-hover-background: #cbd7e3; /* Hardcoded color */
	--gnome-tabbar-tab-active-background: #c6d1dd; /* Hardcoded color */
	--gnome-tabbar-tab-active-background-contrast: #a9b6c4; /* Hardcoded color */
	--gnome-tabbar-tab-active-hover-background: #c0cbd7; /* Hardcoded color */
}

/* Private and backdrop colors */
:root[privatebrowsingmode="temporary"]:-moz-window-inactive {
	--gnome-headerbar-background: #D7E3F0 !important;
	--gnome-tabbar-tab-hover-background: #e4e9f0; /* Hardcoded color */
	--gnome-tabbar-tab-active-background: #e1e7ed; /* Hardcoded color */
}
