/* Define Dracula Palette */
@define-color background #282a36;
@define-color current-line #44475a;
@define-color foreground #f8f8f2;
@define-color comment #6272a4;
@define-color cyan #8be9fd;
@define-color green #50fa7b;
@define-color orange #ffb86c;
@define-color pink #ff79c6;
@define-color purple #bd93f9;
@define-color red #ff5555;
@define-color yellow #f1fa8c;


* {
    all: initial;
    border: none;
    border-radius: 0;
    font-family: Ubuntu Nerd Font;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: @foreground;
}

tooltip {
    background: alpha(@background, 0.5);
    border-radius: 10px 10px 10px 10px;
    border: 1.5px solid @comment;
}

tooltip label {
    color: @foreground;
    padding: 7.5px;
}

/* -- Modules -- */
#custom-close,
#custom-search,
#custom-resize,
#custom-move,
#workspaces,
#window, 
#clock, 
#tray, 
#cpu, 
#memory, 
#temperature,
#pulseaudio, 
#battery,
#custom-power { 
    color: @foreground;
    background: alpha(@background, 0.9);
    border: 1.5px solid @comment;
    padding: 0 10px;
}

/* -- Left Modules -- */

#custom-close {
    color: @red;
    border-radius: 20px 20px 20px 20px;
    margin-left: 10px;
    min-height: 24px;
    min-width: 16px;
    padding: 0 5px;
}

#custom-search {
    border-radius: 20px 0px 0px 20px;
    border-right: 0px;
    margin-left: 10px;
}

#custom-resize,
#custom-move {
    min-height: 24px;
    min-width: 16px;
    padding: 0 5px;
    border-right: 0px;
    border-left: 0px;
}

#custom-resize.disabled,
#custom-move.disabled {
    color: @current-line;
}

#custom-resize.selected,
#custom-move.selected {
    color: @comment;
}

#workspaces {
    padding: 0 0px;
    border-radius: 0px 20px 20px 0px;
    border-left: 0px;
}

#workspaces button {
    min-height: 24px;
    min-width: 16px;
    padding: 0 5px;
    border-radius: 20px 20px 20px 20px;
    background: transparent;
    color: @foreground;
}

#workspaces button.active {
    background: @comment;
    color: @background;
}

#workspaces label {
    color: @foreground;
}

#workspaces button.active label {
    color: @background;
}

/* -- Center Modules -- */

#clock {
    border-radius: 20px;
}

/* -- Right Modules -- */

#tray {
    border-radius: 20px;
    margin-right: 15px;
    margin-left: 15px;
}

#tray menu,
#tray menu menuitem:hover menu {
    background: alpha(@background, 1);
    border-radius: 10px 10px 10px 10px;
    border: 1.5px solid @comment;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
}

#tray menu menuitem,
#tray menu menuitem:hover menu menuitem {
    border-radius: 7.5px 7.5px 7.5px 7.5px;
    padding-left: 25px;
    padding-right: 25px;
}

#tray menu menuitem:hover,
#tray menu menuitem:hover menu menuitem:hover {
    background: @purple;
}

#tray menu label,
#tray menu menuitem:hover menu label {
    color: @foreground;
    padding: 5px;
}

#tray menu menuitem:hover label,
#tray menu menuitem:hover menu menuitem:hover label {
    color: @background;
}

#cpu {
    border-radius: 20px 0px 0px 20px;
    border-right: 0px;
}

#memory, #temperature, #pulseaudio, #battery {
    border-right: 0px;
    border-left: 0px;
}

#temperature.critical {
    color: @red;
}

#battery.charging {
    color: @green;
}

#battery.threes:not(.charging) {
    color: @red;
}

#battery.twos:not(.charging) {
    color: @red;
}

#battery.ones:not(.charging) {
    color: @red;
}

#custom-power {
    border-radius: 0px 20px 20px 0px;
    border-left: 0px;
    margin-right: 10px;
}
