/* Define Nord Palette */
/* Polar Night */
@define-color nord0 #2e3440;
@define-color nord1 #3b4252;
@define-color nord2 #434c5e;
@define-color nord3 #4c566a;

/* Snow Storm */
@define-color nord4 #d8dee9;
@define-color nord5 #e5e9f0;
@define-color nord6 #eceff4;

/* Frost */
@define-color nord7  #8fbcbb;
@define-color nord8  #88c0d0;
@define-color nord9  #81a1c1;
@define-color nord10 #5e81ac;

/* Aurora */
@define-color nord11 #bf616a; /* Red */
@define-color nord12 #d08770; /* Orange */
@define-color nord13 #ebcb8b; /* Yellow */
@define-color nord14 #a3be8c; /* Green */
@define-color nord15 #b48ead; /* Magenta */

/* Extra */
@define-color nord16 #1d2128; /* a darker nord0 */


* {
    all: initial;
    border: none;
    border-radius: 0;
    font-family: Ubuntu Nerd Font;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: @nord4;
}

tooltip {
    background: alpha(@nord1, 0.5);
    border-radius: 10px 10px 10px 10px;
    border: 1.5px solid @nord7;
}

tooltip label {
    color: @nord4;
    padding: 7.5px;
}

/* -- Modules -- */
#custom-close,
#custom-search,
#custom-resize,
#custom-move,
#workspaces,
#window, 
#clock, 
#tray, 
#cpu, 
#memory, 
#temperature,
#pulseaudio, 
#battery,
#custom-power { 
    color: @nord4;
    background: alpha(@nord1, 0.9);
    border: 1.5px solid @nord7;
    padding: 0 10px;
}

/* -- Left Modules -- */

#custom-close {
    color: @nord11;
    border-radius: 20px 20px 20px 20px;
    margin-left: 10px;
    min-height: 24px;
    min-width: 16px;
    padding: 0 5px;
}

#custom-search {
    border-radius: 20px 0px 0px 20px;
    border-right: 0px;
    margin-left: 10px;
}

#custom-resize,
#custom-move {
    min-height: 24px;
    min-width: 16px;
    padding: 0 5px;
    border-right: 0px;
    border-left: 0px;
}

#custom-resize.disabled,
#custom-move.disabled {
    color: @nord3;
}

#custom-resize.selected,
#custom-move.selected {
    color: @nord7;
}

#workspaces {
    padding: 0 0px;
    border-radius: 0px 20px 20px 0px;
    border-left: 0px;
}

#workspaces button {
    min-height: 24px;
    min-width: 16px;
    padding: 0 5px;
    border-radius: 20px 20px 20px 20px;
    background: transparent;
    color: @nord4;
}

#workspaces button.active {
    background: @nord7;
    color: @nord1;
}

#workspaces label {
    color: @nord4;
}

#workspaces button.active label {
    color: @nord1;
}

/* -- Center Modules -- */

#clock {
    border-radius: 20px;
}

/* -- Right Modules -- */

#tray {
    border-radius: 20px;
    margin-right: 15px;
    margin-left: 15px;
}

#tray menu,
#tray menu menuitem:hover menu {
    background: alpha(@nord0, 0.9);
    border-radius: 10px 10px 10px 10px;
    border: 1.5px solid @nord7;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
}

#tray menu menuitem,
#tray menu menuitem:hover menu menuitem {
    border-radius: 7.5px 7.5px 7.5px 7.5px;
    padding-left: 25px;
    padding-right: 25px;
}

#tray menu menuitem:hover,
#tray menu menuitem:hover menu menuitem:hover {
    background: @nord7;
}

#tray menu label,
#tray menu menuitem:hover menu label {
    color: @nord4;
    padding: 5px;
}

#tray menu menuitem:hover label,
#tray menu menuitem:hover menu menuitem:hover label {
    color: @nord0;
}

#cpu {
    border-radius: 20px 0px 0px 20px;
    border-right: 0px;
}

#memory, #temperature, #pulseaudio, #battery {
    border-right: 0px;
    border-left: 0px;
}

#temperature.critical {
    color: @nord11;
}

#battery.charging {
    color: @nord14;
}

#battery.threes:not(.charging) {
    color: @nord11;
}

#battery.twos:not(.charging) {
    color: @nord11;
}

#battery.ones:not(.charging) {
    color: @nord11;
}

#custom-power {
    border-radius: 0px 20px 20px 0px;
    border-left: 0px;
    margin-right: 10px;
}
