/* Define Rose Pine Dawn Palette */
@define-color base #faf4ed;
@define-color surface #fffaf3;
@define-color overlay #f2e9e1;
@define-color muted #9893a5;
@define-color subtle #797593;
@define-color text #575279;
@define-color love #b4637a;
@define-color gold #ea9d34;
@define-color rose #d7827e;
@define-color pine #286983;
@define-color foam #56949f;
@define-color iris #907aa9;
@define-color highlight-low #f4ede8;
@define-color highlight-med #403d52;
@define-color highlight-high #524f67;


* {
    all: initial;
    border: none;
    border-radius: 0;
    font-family: Ubuntu Nerd Font;
    font-size: 13px;
    min-height: 0;
}

label, box {
    color: inherit;
}

window#waybar {
    background: transparent;
    color: @text;
}

tooltip {
    background: alpha(@overlay, 0.5);
    border-radius: 10px 10px 10px 10px;
    border: 1.5px solid @iris;
}

tooltip label {
    color: @text;
    padding: 7.5px;
}

/* -- Modules -- */
#custom-close,
#custom-search,
#workspaces,
#window, 
#clock, 
#tray, 
#cpu, 
#memory, 
#temperature,
#pulseaudio, 
#battery,
#custom-power { 
    color: @text;
    background: alpha(@overlay, 0.75);
    border: 1.5px solid @iris;
    padding: 0 10px;
}

/* -- Left Modules -- */

#custom-close {
    color: @love;
    border-radius: 20px 20px 20px 20px;
    margin-left: 10px;
    min-height: 24px;
    min-width: 16px;
    padding: 0 5px;
}

#custom-search {
    border-radius: 20px 0px 0px 20px;
    border-right: 0px;
    margin-left: 10px;
}

#workspaces {
    padding: 0 0px;
    border-radius: 0px 20px 20px 0px;
    border-left: 0px;
}

#workspaces button {
    min-height: 24px;
    min-width: 16px;
    padding: 0 5px;
    border-radius: 20px 20px 20px 20px;
    background: transparent;
    color: @text;
}

#workspaces button.active {
    background: @iris;
    color: @overlay;
}

/* -- Center Modules -- */

#clock {
    border-radius: 20px;
}

/* -- Right Modules -- */

#tray {
    border-radius: 20px;
    margin-right: 15px;
    margin-left: 15px;
}

menu {
    background: alpha(@base, 0.75);
    border-radius: 10px 10px 10px 10px;
    border: 1.5px solid @iris;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
}

menu menuitem {
    border-radius: 7.5px 7.5px 7.5px 7.5px;
    padding-left: 25px;
    padding-right: 25px;
    color: @text;
}

menu menuitem:hover {
    background: @iris;
    color: @base;
}

menu menuitem box {
    /*This is for Wi-Fi and stuff with icons*/
    /*All boxes here contain an image and a label*/
    background: inherit;
    color: inherit;
}

menu menuitem label {
    padding: 5px;
}

#cpu {
    border-radius: 20px 0px 0px 20px;
    border-right: 0px;
}

#memory, #temperature, #pulseaudio, #battery {
    border-right: 0px;
    border-left: 0px;
}

#temperature.critical {
    color: @love;
}

#battery.charging {
    color: @pine;
}

#battery.threes:not(.charging) {
    color: @love;
}

#battery.twos:not(.charging) {
    color: @love;
}

#battery.ones:not(.charging) {
    color: @love;
}

#custom-power {
    border-radius: 0px 20px 20px 0px;
    border-left: 0px;
    margin-right: 10px;
}
