/* Define Dracula Palette */
@define-color background #282a36;
@define-color current-line #44475a;
@define-color foreground #f8f8f2;
@define-color comment #6272a4;
@define-color cyan #8be9fd;
@define-color green #50fa7b;
@define-color orange #ffb86c;
@define-color pink #ff79c6;
@define-color purple #bd93f9;
@define-color red #ff5555;
@define-color yellow #f1fa8c;


window > scrolledwindow {
  background-color: alpha(@background, 0.0);
}

#bar {
    margin: 0 0px /* affects top/bottom & left/right alignment */
}

image {
    background: none;
    border-style: none;
    box-shadow: none;
    color: @foreground;
    text-shadow: none;
}

button {
    background: none;
    border-style: none;
    border-radius: 0 0 0 0px;
    box-shadow: none;
    color: @foreground; /*button text and hover if hover not defined*/
    text-shadow: none;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    -gtk-icon-shadow: none; /*has to be a color*/
}

button:hover {
    background-color: alpha(@purple, 0.6)
}

button:focus {
    background-color: alpha(@purple, 0.6);
    box-shadow: 0 0 0 0px; /*right bottom blur border*/
    outline: none;
}

grid {
    /* e.g. for common background to all buttons */
    background: alpha(@background, 0.9);
    border: 2px solid @comment;
    border-radius: 0 0 0 0px;
}
