/* Define Dracula Palette */
@define-color background #282a36;
@define-color current-line #44475a;
@define-color foreground #f8f8f2;
@define-color comment #6272a4;
@define-color cyan #8be9fd;
@define-color green #50fa7b;
@define-color orange #ffb86c;
@define-color pink #ff79c6;
@define-color purple #bd93f9;
@define-color red #ff5555;
@define-color yellow #f1fa8c;


* {
    all: initial;
    border: none;
    border-radius: 0;
    font-family: Ubuntu Nerd Font;
    font-size: 13px;
    min-height: 0;
}

label, box {
    color: inherit;
}

window#waybar {
    background: alpha(@background, 0.9);
    border: 2px solid @comment;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    color: @foreground;
}

tooltip {
    background: alpha(@background, 0.5);
    border-radius: 0px 0px 0px 0px;
    border: 1.5px solid @comment;
}

tooltip label {
    color: @foreground;
    padding: 7.5px;
}

/* -- Modules -- */
#window,
#custom-search,
#tags,
#layout, 
#clock, 
#tray, 
#cpu, 
#memory, 
#temperature,
#pulseaudio, 
#battery,
#custom-power { 
    color: @foreground;
    background: transparent;
    border: 0px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    padding: 0 10px;
}

/* -- Left Modules -- */

#window {
    color: @red;
    border-radius: 0px 0px 0px 0px;
    margin-left: 0px;
}

#custom-search {
    border-radius: 0px 0px 0px 0px;
    margin-left: 0px;
}

#tags {
    padding: 0 0px;
    border-radius: 0px 0px 0px 0px;
}

#tags button {
    min-height: 24px;
    min-width: 16px;
    padding: 0 5px;
    border-radius: 0px 0px 0px 0px;
    background: transparent;
    color: @current-line;
}

#tags button.focused {
    background: @comment;
    color: @background;
}

#tags button.occupied:not(.focused) {
    background: transparent;
    color: @foreground;
}

/* -- Center Modules -- */

#clock {
    border-radius: 0px;
}

/* -- Right Modules -- */

#tray {
    border-radius: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

menu {
    background: alpha(@background, 0.9);
    border-radius: 0px 0px 0px 0px;
    border: 1.5px solid @comment;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
}

menu menuitem {
    border-radius: 0px 0px 0px 0px;
    padding-left: 25px;
    padding-right: 25px;
    color: @foreground;
}

menu menuitem:hover {
    background: @purple;
    color: @background;
}

menu menuitem box {
    /*This is for Wi-Fi and stuff with icons*/
    /*All boxes here contain an image and a label*/
    background: inherit;
    color: inherit;
}

menu menuitem label {
    padding: 5px;
}

#cpu {
    border-radius: 0px 0px 0px 0px;
}

#memory, #temperature, #pulseaudio, #battery {
    border-right: 0px;
    border-left: 0px;
}

#temperature.critical {
    color: @red;
}

#battery.charging {
    color: @green;
}

#battery.threes:not(.charging) {
    color: @red;
}

#battery.twos:not(.charging) {
    color: @red;
}

#battery.ones:not(.charging) {
    color: @red;
}

#custom-power {
    border-radius: 0px 20px 20px 0px;
    margin-right: 0px;
}
