/* Define Nord Palette */
/* Polar Night */
@define-color nord0 #2e3440;
@define-color nord1 #3b4252;
@define-color nord2 #434c5e;
@define-color nord3 #4c566a;

/* Snow Storm */
@define-color nord4 #d8dee9;
@define-color nord5 #e5e9f0;
@define-color nord6 #eceff4;

/* Frost */
@define-color nord7  #8fbcbb;
@define-color nord8  #88c0d0;
@define-color nord9  #81a1c1;
@define-color nord10 #5e81ac;

/* Aurora */
@define-color nord11 #bf616a; /* Red */
@define-color nord12 #d08770; /* Orange */
@define-color nord13 #ebcb8b; /* Yellow */
@define-color nord14 #a3be8c; /* Green */
@define-color nord15 #b48ead; /* Magenta */

/* Extra */
@define-color nord16 #1d2128; /* a darker nord0 */


window > box {
    background-color: alpha(@nord0, 0.9);
}

window > box > scrolledwindow > overshoot,
window > box > scrolledwindow > undershoot {
    /*Default Value:*/
    /*background-image: -gtk-gradient (radial, center top, 0, ce    nter top, 0.5, to (rgb(182,174,165)), to (rgba(182,174,165,0)))     , -gtk-gradient (radial, center top, 0, center top, 0.6, from (r    gba(46,52,54,0.07)), to (rgba(46,52,54,0)));*/
    background-image: none;
}

button, label, image { /*button = ?
	                *label = labels for buttons
		        *image = search bar icon*/
    background: none;
    border-style: none;
    box-shadow: none;
    color: @nord6; /*button color only affect button focus, unless button focus has its own value*/
}

button {
    /*padding and margin can affect custom column count*/
    padding: 3px; /*space around buttons*/
    margin: 0px; /*space between buttons*/
    border-radius: 0px;
    color: @nord6;
    text-shadow: none;
}

button:hover {
    background-color: alpha(@nord2, 0.5)
}

button:focus { /*seems like annoying outlined box is from here*/
    background-color: alpha(@nord2, 0.5);
    color: alpha(@nord2, 0); /*affects box-shadow*/
    box-shadow: 0 0 0 0px; /*right-border bottom-border shadow/blur all-border*/
    outline: none;
}

/*This affect category buttons, could remove*/
button:checked {
    background-color: alpha(@nord7, 0.9)
}

button:checked > label {
    color: @nord0
}

#searchbox {
    background: alpha(@nord1, 0.75);
    border: 1.5px solid @nord7;
    border-radius: 0px;
    color: @nord6; /*text color*/
    margin-top: 25px;
    margin-bottom: 20px;
}

#searchbox:focus {
    /*Default
     * box-shadow: 0 0 0 1px rgba(53,132,228,1);*/
    box-shadow: 0 0 0 1px @nord7;
}

#separator {
    background-color: @nord7;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#description {
    margin-bottom: -100px; /* -100 effectively disables this */
}
