/* Define Rose Pine Moon Palette */
@define-color base #232136;
@define-color surface #2a273f;
@define-color overlay #393552;
@define-color muted #6e6a86;
@define-color subtle #908caa;
@define-color text #e0def4;
@define-color love #eb6f92;
@define-color gold #f6c177;
@define-color rose #ea9a97;
@define-color pine #3e8fb0;
@define-color foam #9ccfd8;
@define-color iris #c4a7e7;
@define-color highlight-low #2a283e;
@define-color highlight-med #403d52;
@define-color highlight-high #524f67;


* {
    all: initial;
    border: none;
    border-radius: 0;
    font-family: Ubuntu Nerd Font;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: @text;
}

tooltip {
    background: alpha(@overlay, 0.5);
    border-radius: 10px 10px 10px 10px;
    border: 1.5px solid @iris;
}

tooltip label {
    color: @text;
    padding: 7.5px;
}

/* -- Modules -- */
#custom-close,
#custom-search,
#workspaces,
#window, 
#clock, 
#tray, 
#cpu, 
#memory, 
#temperature,
#pulseaudio, 
#battery,
#custom-power { 
    color: @text;
    background: alpha(@overlay, 0.9);
    border: 1.5px solid @iris;
    padding: 0 10px;
}

/* -- Left Modules -- */

#custom-close {
    color: @love;
    border-radius: 20px 20px 20px 20px;
    margin-left: 10px;
    min-height: 24px;
    min-width: 16px;
    padding: 0 5px;
}

#custom-search {
    border-radius: 20px 0px 0px 20px;
    border-right: 0px;
    margin-left: 10px;
}

#workspaces {
    padding: 0 0px;
    border-radius: 0px 20px 20px 0px;
    border-left: 0px;
}

#workspaces button {
    min-height: 24px;
    min-width: 16px;
    padding: 0 5px;
    border-radius: 20px 20px 20px 20px;
    background: transparent;
    color: @text;
}

#workspaces button.active {
    background: @iris;
    color: @overlay;
}

#workspaces label {
    color: @text;
}

#workspaces button.active label {
    color: @overlay;
}

/* -- Center Modules -- */

#clock {
    border-radius: 20px;
}

/* -- Right Modules -- */

#tray {
    border-radius: 20px;
    margin-right: 15px;
    margin-left: 15px;
}

#tray menu,
#tray menu menuitem:hover menu {
    background: alpha(@base, 0.9);
    border-radius: 10px 10px 10px 10px;
    border: 1.5px solid @iris;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
}

#tray menu menuitem,
#tray menu menuitem:hover menu menuitem {
    border-radius: 7.5px 7.5px 7.5px 7.5px;
    padding-left: 25px;
    padding-right: 25px;
}

#tray menu menuitem:hover,
#tray menu menuitem:hover menu menuitem:hover {
    background: @iris;
}

#tray menu label,
#tray menu menuitem:hover menu label {
    color: @text;
    padding: 5px;
}

#tray menu menuitem:hover label,
#tray menu menuitem:hover menu menuitem:hover label {
    color: @base;
}

#cpu {
    border-radius: 20px 0px 0px 20px;
    border-right: 0px;
}

#memory, #temperature, #pulseaudio, #battery {
    border-right: 0px;
    border-left: 0px;
}

#temperature.critical {
    color: @love;
}

#battery.charging {
    color: @pine;
}

#battery.threes:not(.charging) {
    color: @love;
}

#battery.twos:not(.charging) {
    color: @love;
}

#battery.ones:not(.charging) {
    color: @love;
}

#custom-power {
    border-radius: 0px 20px 20px 0px;
    border-left: 0px;
    margin-right: 10px;
}
