/* Define Rose Pine Moon Palette */
@define-color base #232136;
@define-color surface #2a273f;
@define-color overlay #393552;
@define-color muted #6e6a86;
@define-color subtle #908caa;
@define-color text #e0def4;
@define-color love #eb6f92;
@define-color gold #f6c177;
@define-color rose #ea9a97;
@define-color pine #3e8fb0;
@define-color foam #9ccfd8;
@define-color iris #c4a7e7;
@define-color highlight-low #2a283e;
@define-color highlight-med #44415a;
@define-color highlight-high #56526e;


window > scrolledwindow {
    background-color: alpha(@base, 0.0)
}

#bar {
    margin: 0 0px /* affects top/bottom & left/right alignment */
}

image {
    background: none;
    border-style: none;
    box-shadow: none;
    color: @text;
    text-shadow: none;
}

button {
    background: none;
    border-style: none;
    border-radius: 0 0 0 0px;
    box-shadow: none;
    color: @text; /*button text and hover if hover not defined*/
    text-shadow: none;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    -gtk-icon-shadow: none; /*has to be a color*/
}

button:hover {
    background-color: alpha(@overlay, 0.6)
}

button:focus {
    background-color: alpha(@overlay, 0.6);
    box-shadow: 0 0 0 0px; /*right bottom blur border*/
    outline: none;
}

grid {
    /* e.g. for common background to all buttons */
    background: alpha(@base, 0.9);
    border: 2px solid @iris;
    border-radius: 0 0 0 0px;
}
