/* Define Everforest Dark Hard Palette */
/* Background */
@define-color bg_dim #1e2326;
@define-color bg0 #272e33;
@define-color bg1 #2e383c;
@define-color bg2 #374145;
@define-color bg3 #414b50;
@define-color bg4 #495156;
@define-color bg5 #4f5b58;

/* Foreground */
@define-color default #d3c6aa;
@define-color red #e67e80;
@define-color orange #e69875;
@define-color yellow #dbbc7f;
@define-color green #a7c080;
@define-color aqua #83c092;
@define-color blue #7fbbb3;
@define-color purple #d699b6;
@define-color grey0 #7a8478;
@define-color grey1 #859289;
@define-color grey2 #9da9a0;
@define-color statusline1 #a7c080;
@define-color statusline2 #d3c6aa;
@define-color statusline3 #e67e80;


window > box {
    background-color: alpha(@bg0, 0.9);
}

window > box > scrolledwindow > overshoot,
window > box > scrolledwindow > undershoot {
    /*Default Value:*/
    /*background-image: -gtk-gradient (radial, center top, 0, center top, 0.5, to (rgb(182,174,165)), to (rgba(182,174,165,0)))     , -gtk-gradient (radial, center top, 0, center top, 0.6, from (rgba(46,52,54,0.07)), to (rgba(46,52,54,0)));*/
    background-image: none;
}

button, label, image { /*button = ?
	                *label = labels for buttons
		        *image = search bar icon*/
    background: none;
    border-style: none;
    box-shadow: none;
    color: @default; /*button color only affect button focus, unless button focus has its own value*/
}

button {
    /*padding and margin can affect custom column count*/
    padding: 3px; /*space around buttons*/
    margin: 0px; /*space between buttons*/
    border-radius: 20px;
    color: @default;
    text-shadow: none;
}

button:hover {
    background-color: alpha(@bg3, 0.5)
}

button:focus { /*seems like annoying outlined box is from here*/
    background-color: alpha(@bg3, 0.5);
    color: alpha(@bg3, 0); /*affects box-shadow*/
    box-shadow: 0 0 0 0px; /*right-border bottom-border shadow/blur all-border*/
    outline: none;
}

/*This affect category buttons, could remove*/
button:checked {
    background-color: alpha(@green, 0.9)
}

button:checked > label {
    color: @bg0
}

#searchbox {
    background: alpha(@bg2, 0.75);
    border-color: @green;
    border-radius: 20px;
    color: @default; /*text color*/
    margin-top: 25px;
    margin-bottom: 20px;
}

#searchbox:focus {
    /*Default
     * box-shadow: 0 0 0 1px rgba(53,132,228,1);*/
    box-shadow: 0 0 0 1px @green;
}

#separator {
    background-color: @green;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#description {
    margin-bottom: -100px; /* -100 effectively disables this */
}
